* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--color-2);
}

button,
a {
  text-decoration: none;
}

a.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--color-2);

  & p,
  svg,
  path {
    color: var(--color-1);
  }
}

#root {
  background-color: var(--color-1);
  --color-1: rgb(94.118% 97.647% 100%);
  --color-2: #0c4a6e;
  --color-3: #fff;
}
